@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

    /* Navbar Section */

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__logo{
     background-color: #ff8177;
    background-image: linear-gradient(to top, #b8860b, #ffd60a);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.logo {
    height: 200px;
    margin-top: 25px;
    width: auto;
    float: none;
    position: static;
}

.navbar__menu {
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}    

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #b8860b;
    color: #fff;
}

.button2:hover {
        color: #fff;
        background-color:  #4837ff;
        transition: all 0.4s;
    }

.navbar__links:hover{
    color: #4837ff;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px; 
        z-index: 1;
        width: 100%;
        max-width: 1300px; 
        padding: 0;  
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1; 
        transition: all 0.5s ease;
        height: 50vh;
        z-index:  -1;
        background: #131313;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem; 
    }

    .navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.4s ease-in-out;
        background: #fff;
    }

    .navbar__items {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

     .navbar__btn2{
        padding-bottom: 2rem;
    }

      .button2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

     #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media   screen and (max-width:480px) {
    #navbar__logo {
        font-size: 1rem;
    }
}
/* Academics Section */
#academics {
    padding: 12px 60px;
    background: #f4f8fc;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    text-align: center;
}

.academics-container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

#academics h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
}

#section-intro {
    margin-bottom: 60px;
    color: #fff;
    font-size: 20px;
}

.academics-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.academic-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    width: 30%;
    min-width: 300px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.4s ease;
}

.academic-card:hover {
    transform: translateY(-15px);
    background: rgba(255, 255, 255, 0.2);
}

.academic-card h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #0056b3;
}

.academic-card p {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}

@media screen and (max-width:960px) {
    .academic-card {
        margin-left: 25px;
    }
}

/* School Video Section */
#school-video {
    padding: 120px 60px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

.video-container {
    max-width: 1200px;
    margin: auto;
}

.video-container h1 {
    font-size: 45px;
    margin-bottom: 50px;
}

.video-box {
    position: relative;
    max-width: 900px;
    margin: 50px auto 0 auto;
}

.video-box video {
    border-radius: 15px;
    width: 100%;
    display: block;
}

/* Footer CSS */
.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link--items > h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

/* Social Icon */
.sci {
    margin-top: 40px;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a {
    color: #fff;
    font-size: 2em;
    color: #ccc;
}

.sci li a:hover {
    color: #fff;
}

.website__rights {
    color: #fff;
}

@media screen  and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
        align-items: center;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;  
    }
}
